<h1><%= @cocktail.name %></h1>

<% @doses.each do |dose| %>
    <%= dose.description %>
    <%= Ingredient.find(dose[:ingredient_id]) %>
<% end %>

<%= link_to "Add ingredient and doses", new_restaurant_review_path(@cocktail) %>